body {}

h2 {
    text-align: center;
    font-size: 60px;
    text-overflow: ellipsis;
    text-shadow: 3px 3px 8px #ff0000;
    color: blue;
    text-transform: uppercase;
    font-family: "Courier New", Courier, monospace;
}

.catdiv {
    margin: 0 auto;
    border: 1px solid black;
    width: 75%;
    height: 200px;
    border: 2px solid black;
    border-radius: 7px;
    text-align: center;
}

.catbutton {
    padding: 12px;
    border-radius: 4px;
    background-color: yellowgreen;
    border: none;
    color: white;
    font-weight: bolder;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
}

.catbutton:hover {
    color: white;
    background-color: black;
}

.container {
    display: flex;
    border: 1px solid blue;
}