@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');

body {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #010a00;
    background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1rem;
}

/*Header Styling*/
.neon {
    color: #fff;
    text-shadow:
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px rgb(0, 0, 0),
        0 0 80px rgb(0, 0, 0),
        0 0 90px rgb(247, 4, 4),
        0 0 100px #0ff,
        0 0 150px #0ff;
}

h1 {
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    font-size: 60px;
}

/*Outer Box styling*/
.outer {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 50%;
    height: 330px;
    margin: auto;
    margin-top: 130px;
    background-color: #FEE2E2;
    border-radius: 5px;
}

.upper {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    height: 150px;
    margin: 10px;
}

/*Button Styling*/
.btn {
    display: block;
    height: 40px;
    border-radius: 5px;
    margin: auto;
    width: 20%;
    border: none;
    font-family: 'Mate SC', serif;
    font-size: large;
    font-weight: 800;
}

.btn:hover {
    background-color: black;
    color: white;
}

.enter {
    background-color: rgb(81, 81, 247);
}

.reset {
    background-color: rgb(252, 56, 56);
}

.lower {
    border: 1px solid black;
    margin: 10px;
    height: 170px;
}

/*output Age*/
.ageo {
    text-align: center;
    font-size: 20px;
    color: rgb(8, 68, 87);
}